[submodule "src/instancing/KUI"]
	path = src/instancing/KUI
	url = https://github.com/MrLixm/KUI
[submodule "src/supertools/GSVDashboard"]
	path = src/supertools/GSVDashboard
	url = https://github.com/MrLixm/GSVDashboard
[submodule "src/opscripting"]
	path = src/opscripting
	url = https://github.com/MrLixm/opscripting
	branch = main
